* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
  }
  
body {
    margin: 5rem;
    border: solid rgb(49, 96, 153);
}

.flex {
    display: flex;
}
.main-wrapper {
    width: 70%;
    margin: auto;
}

@import"../globals";

@import"../atoms/button";
@import"../atoms/input";
@import"../atoms/logo";

@import"../molecules/footer1";
@import"../molecules/footer2";
@import"../molecules/mini-article";
@import"../molecules/mini-footer";
@import"../molecules/nav-arrows";
@import"../molecules/search-bar";

@import"../organisms/footer";
@import"../organisms/header";
@import"../organisms/popular";

