.mini-footer {
    margin: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        margin: 0;    
        &:nth-child(2) img {
            padding-left: 2rem;
            padding-top: 0.2rem;
        }
        &:nth-child(2) {
            text-align: right;
        }
    }

  }
  