.buscador {
    background: #f4f4f4;
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
    display: flex;
    margin: 2rem 0 2rem 0;

    img {
      padding: 0 1rem 0 1rem;
    }
  }

  