.logo {
    text-align: center;
    font-weight: bold;
    color: #316099;
    border: solid #316099;
    border-radius: 100%;
    box-shadow: -8px 0 #316099;
    background-color: white;
  
    font-size: 1rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    
  }