footer {
    background-color: #316099;
    border-radius: 0px 200px 0px 0px;  
    margin-right: 6rem;

    * {
        color: white;
        font-weight: normal;
    }

    p {
        font-family: Arial;
        margin-top: 1.8rem;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        line-height: 1.2rem;
    }

    h5 {
        color: white;
        opacity: 0.4;
        margin-left: 12.5rem;
        padding: 4rem 0 2rem 0;
        font-size: 1rem;
    }
  }
  
 