.popular{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
    padding-bottom: 2rem;

    .flex {
      margin: 1rem 0 1rem 0;
    }

    h6 + div{      
      > div {
        width: 40%;
        order: 0;
      }
      > figure {
        width: 60%;
        order: 1;
      }    
    }

    div figure img {
      width: 100%;
    }

    div figure:first-child img {
      margin-bottom: 1.5rem;      
    }

    > div {
      > div:not(:nth-child(3)) {
        margin-right: 1.5rem;
      }
    }   

    h6:last-child{
      text-align: right;
    }
}

